<div class="form-group">
  <label for="email">{{ label }}:</label>
  {{yield}}
  {{#if errors}}
    {{#each errors as |error|}}
      <div class="alert alert-danger">
        {{ error }}
      </div>
    {{/each}}
  {{/if}}
</div>