<div class="container">
  {{#form-layout isSubmitting=isSubmitting}}
    <form {{ action "handleLogin" on="submit"}} name="login">
      {{#form-field label="Email Address" errors=model.errors.email}}
        {{input value=model.credentials.email class='form-control' name='email'}}
      {{/form-field}}
      {{#form-field label="Password" errors=model.errors.password}}
        {{input type="password" value=model.credentials.password class='form-control' name='password'}}
      {{/form-field}}
      <button name="submit" type="submit" class="btn btn-default">Login</button>
    </form>
    <em>Don't have account?
      {{#link-to 'register' class="registerUrl"}}
        Register Here
      {{/link-to}}
    </em>
  {{/form-layout}}
</div>