<div class="row">
  <div class="col-md-8">
    <ul class="list-group">
      <li class="list-group-item">
        <b>First Name</b>: {{model.first_name}}
      </li>
      <li class="list-group-item">
        <b>Last Name</b>: {{model.last_name}}
      </li>
      <li class="list-group-item">
        <b>Role:</b> {{model.role}}
      </li>
      <li class="list-group-item">
        <b>Joined on:</b> {{model.created_at}}
      </li>
    </ul>
  </div>
</div>