<ul class="list-group">
  <li class="list-group-item active">
    <h4>Manage Users ({{model.users.length}})</h4>
  </li>
  {{#each model.users as |user|}}
    <li class="list-group-item">
      {{#user-item
        handleRoleChange="handleRoleChange"
        user=user}}
      {{/user-item}}
    </li>
  {{/each}}
</ul>